<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
</head>
<body class="ltr bg-[#2DAF90] place-content-center">
    <div class="container mx-auto px-44" style="font-family:'Inter';">
        <div class="title pt-28">
            <h1 class="mb-3 text-4xl text-white" style="font-family:'Arvo';">Events</h1>
        </div>
        <p class="mb-8 font-normal text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.</p>
        <div class="md:flex content-center flex-wrap -mx-2 p-3 bg-grey rounded shadow-lg">        
            {% for entry in craft.entries.section('events').order('postDate asc').limit(3) %}
            <div class="md:flex md:w-1/2 lg:w-1/3 px-2 py-2 pt-2">           
                <div class="md:flex-1 bg-white border-b border-r rounded-lg overflow-hidden relative pb-3">
                    <img class="" src="{{entry.image[0].url}}">
                    
                    <div class="px-6">
                        <div class="pt-6">
                            <h2 class="text-sm font-medium text-indigo-600">
                                {{ entry.category[0].title }}                
                            </h2>
                        </div>
                        <div class="pt-2 pb-3">
                             <h1 class="text-xl text-gray-900 font-semibold">
                                {{ entry.title }}
                            </h1>
                        </div>  
                        <p class="text-base font-normal text-gray-500 mb-12">
                           {{ entry.description }}
                        </p>
                         
                        <div class="absolute inset-x-0 bottom-0 h-16 mb-3">
                            <div class="flex mt-2">
                              <div class=""><img src=" {{entry.author.image[0].url}}"></div>
                              <div class="px-2"><p class="text-sm font-medium text-gray-900">{{ entry.author.firstName }} {{ entry.author.lastName }}</p>
                            <p class="text-sm font-normal text-gray-500"> {{ entry.postDate | date("M d, Y") }}</p></div>
                            </div>                                
                                                       
                        </div>                        
                    </div>                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
